@charset "utf-8";
@import url('https://webfontworld.github.io/earlyfont/EF_Diary.css');

:root {
    --text-color: #222;
    --main-color: rgb(250, 175, 50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'EF_Diary';
    background-color: #fff;
    color: var(--text-color);
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.sign-up-container,
.sign-in-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.form-item {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #777;
    border-radius: 2px;
    outline: none;
}

.round-button {
    background-color: var(--main-color);
    border-radius: 2px;
}

.col {
    display: flex;
    flex-direction: column;
}